.wrapper {
  display: flex;
  flex-direction: column;
}

.h2 {
  font-size: 24px;
  text-align: left;
}

.standsWrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}

.link {
  color: black;
}