.wrapper {
  display: flex;
  max-width: 293px;
  height: 143px;
  flex-direction: column;
  padding: 12px 16px;
  border: 2px solid #5FAF2D;
  border-radius: 10px;
}

.h3 {
  display: flex;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 4px;
  margin-top: 38px;
  text-align: left;
}

.info {
  display: flex;
  font-size: 16px;
  text-align: left;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  gap: 4px;
}

.button {
  font-family: "X5 Sans", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  background-color: #5FAF2D;
  border: 1px solid #5FAF2D;
  color: white;
  max-width: 145px;
  cursor: pointer;
}

.buttonNone {
  font-family: "X5 Sans", sans-serif;
  font-size: 16px;
  border-radius: 8px;
  background-color: transparent;
  border: 1px solid black;
  max-width: 145px;
  cursor: pointer;
}

@media (max-width: 1360px) {
  .h3 {
    font-size: 20px;
  }

  .info {
    font-size: 12px;
  }

  .button {
    font-size: 12px;
  }

  .buttonNone {
    font-size: 12px;
  }
}

@media (max-width: 840px) {
  .h3 {
    font-size: 16px;
  }

  .info {
    font-size: 10px;
  }

  .button {
    font-size: 10px;
  }

  .buttonNone {
    font-size: 10px;
  }
}

@media (max-width: 720px) {
  .buttons {
    flex-direction: column;
  }

  .wrapper {
    align-items: center;
  }
}


@media (max-width: 520px) {
  .h3 {
    font-size: 14px;
  }

  .info {
    font-size: 10px;
  }

  .button {
    font-size: 10px;
  }

  .buttonNone {
    font-size: 10px;
  }
}

@media (max-width: 460px) {
  .wrapper {
    justify-content: center;
    max-width: 322px;
  }
}