.wrapper {
  max-width: 1360px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapperNav {
  display: flex;
  align-items: center;
  font-size: 32px;
  gap: 256px;
  color: black;
}

.link {
  color: black;
  padding-bottom: 2px;
}

@media (max-width: 1130px) {
  .wrapperNav {
    gap: 128px;
  }
}

@media (max-width: 880px) {
  .wrapperNav {
    gap: 40px;
    font-size: 24px;
  }
}

@media (max-width: 620px) {
  .wrapper {
    position: relative;
    margin-bottom: 40px;
  }

  .wrapperNav {
    position: absolute;
    bottom: -40px;
    gap: 40px;
  }

  .link {
    font-size: 16px;
    padding: 10px;
    border: 2px solid rgb(95, 175, 45);
    border-radius: 20px;
  }
}

@media (max-width: 490px) {
  .link {
    font-size: 12px;
  }
}

@media (max-width: 315px) {
  .link {
    font-size: 10px;
  }
}