.wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.wrapperNav {
  display: flex;
  font-size: 32px;
  gap: 256px;
  color: black;
}

.link {
  color: black;
}